#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  text-align: center;
  background-color: #242424;
}

.card {
  padding: 2em;
}

label{
  height: fit-content;
}

.cards_list_all{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;
  background-color: #272727;
  border-radius: 5px;
}
.card_icon{
  height: 60px;
  margin: 5px;
  border-radius: 3px;
}

.inputs{
  display: none;
}

@media (max-width: 600px) {
  #root{
    padding: 0.5rem 0.5rem 0 0.5rem;
  }
  .card_icon{
    height: 60px;
  }
  #buttons{
    display: grid;
    grid-template-rows: 50px 50px;
    position: sticky;
    bottom: 0px;
    width: 100%;
  }
  #buttons-row-1{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  button{
    color:white;
    font-size: 20px;
  }
  #player-add-button{
    background-color: #205c2b;
  }
  #dealer-add-button{
    background-color: #234178;
  }
  #player-add-button, #dealer-add-button{
    width:100%;
    height: 100%;
    border: none;
  }
  #reset-button{
    width:100%;
    height: 100%;
    background-color: #6a1b1b;
    border: none;

  }
}