#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cards_list_all{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.card_icon{
  height: 40px;
  margin: 5px;
  border-radius: 3px;
}

.inputs{
  appearance: none;
}